@model ParticeCustomer3.Models.客戶銀行資訊

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@Html.DisplayForModel("Bank")
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@section breadcrumb{
    <li><a href="@Url.Action("Index","Bank")">銀行帳戶管理</a></li>
}